.git
.github
.vscode
.idea

backend/vendor
backend/node_modules
backend/public/storage
backend/storage/logs
backend/storage/framework/cache
backend/storage/framework/sessions
backend/storage/framework/views
backend/.env

frontend/node_modules
frontend/.next

*.log
.DS_Store
Thumbs.db