* text=auto eol=lf

*.blade.php diff=html linguist-vendored=true
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

backend/resources/views/scribe/** linguist-vendored=true
backend/public/docs/** linguist-documentation=true
docs/** linguist-vendored=true

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore